/testProject/nbproject/private/
/testProject__/nbproject/private/
/testProject__/build/
/JavaApplication1/dist/
/Library__/nbproject/private/
/Library__/build/
/GUIFormExamples/nbproject/private/
/GUIFormExamples/build/
/Learn/nbproject/private/
/Learn/build/
/project/nbproject/private/
/project/build/
/project/dist/
/Library__/dist/
/Learn/dist/